// screen
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// colors
$white: #FFFFFF;
$black: #000000;
$gray-dark: #828282;
$gray-light: #ececec;
$gray-ultra-light: #F2F2F2;
$blue-light: #18a0fb;
$red: #a70606;
$green: #2a8108;

// fonts
$open-sans-bold: 'Open Sans Bold', sans-serif;
$open-sans: 'Open Sans Medium', sans-serif;